.pokemon-card {
    margin: 0 0.5vw 2vh 0;
    width: 100vw;
    height: 15vh;

    padding: 1em;

    display: flex;
    align-items: center;

    border: 2px solid #000000;
    border-left: none;
}

.pokemon-image {
    width: 8vw;
}

.pokemon-image img {
    width: 5vw;
}